:root{
    --primary-color: #6C63FF;
    --secondary-color: #F9F7FE;
    --text-color: #212529;
    --font-family-heading: 'Playfair Display', serif;
    --font-family-body: 'Poppins', sans-serif;
    
}

body{
    background-color:var(--secondary-color);
}
.intro{
    text-align: center;
    margin-top: 146px; 
    background:var(--secondary-color);
    padding: 80px 20px;
}
h1{
    
font-family:var(--font-family-heading);
font-weight: bold;
font-size: 96px;
color: black;

}
.about-heading h1{
    font-size: 64px;
    line-height: 80px;
    color: black;
}
.about-heading h2{
    font-size: 18px;
    font-family: var(--font-family-body);
    color: black;
}
   
.about-heading p{
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: black;
        font-family: var(--font-family-body);
    }
    .about-heading a{
        display: inline-block;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 15px 30px;
  border-radius: 4px;
  text-decoration: none;
  margin: 32px auto;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  font-family: var(--font-family-body);
    }

h3{
    font-family: var(--font-family-heading);
    font-weight: bold;
    color: black;
    font-size: 24px;
    margin-bottom: 16px;
}
h2{
    font-family: var(--font-family-body);
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 16px;
    color:var(--text-color);
}
.button {
  display: inline-block;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 15px 30px;
  border-radius: 4px;
  text-decoration: none;
  margin: 32px auto;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  font-family: var(--font-family-body);
}

.button a{
    color: var(--secondary-color);
    text-decoration: none;
    
}
.button:hover {
  color: black;
  transition: 0.3s;
  cursor: pointer;
}
.links {
    background-color: var(--secondary-color);
    color: var(--primary-color);
     padding: 15px 30px;  
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
       font-size: 18px;
    border: 1px solid #6C63FF;
    line-height: 27px;
    font-weight: 400;
}
.links:hover {
    background-color:var(--secondary-color);
    color:black;
    transition: 0.3s;
    cursor: pointer;
}
.p{
 font-weight: 400;
 font-size: 16px;
 line-height: 30px;  
 color: var(--text-color);
}
.container{
    color:#6C757D ;
    font-family: var(--font-family-body);
    font-weight: 400;
}
@media (max-width:600px){
    img{
        display: none;
    }
    h1{
        font-size: 44px;
        line-height: 1.3;
    }
    .links{
        margin: 0 auto;
        display: inline-block;
    }
    .container{
        text-align: center;
    }
   .about-heading{
    text-align: center;
    padding: 0;
   }
   .about-page img{
    display: block !important;
   }
}