body{
    background-color:#F9F7FE;
}
.intro{
    text-align: center;
    margin-top: 146px; 
    background: #F9F7FE;
}
h1{
    
font-family:
Playfair Display;
font-weight: 700;
font-size: 96px;

}
h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 16px;
    color: #272142;
}
.button {
  display: inline-block;
  background: #6C63FF;
  color: #F9F7FE;
  padding: 18px 30px;
  border-radius: 6px;
  text-decoration: none;
  margin: 32px auto;
}

.button a{
    color: #F9F7FE;
    text-decoration: none;
    
}